body{
    font-family: 'VT323', monospace;
    background-color: rgb(48, 212, 204);
}
h1{
    color: white;
    text-align: center;
}
section{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    width: 500px;
    padding: 10px;
    background-color: white;
    margin: auto;
}
select{
    height: 200px;
    width: 150px;
}